*{
    padding:0;
    margin:0;
}

p{
	color:red;
	font-size: 35px;
	line-height: 17px;

}
canvas {
	display:block;
}
body{
	margin: 0;
	background:#F5F5DC;
}
.header{
    background-color:#999900;
    height: 100px;
}
.content{
    background:#F5F5DC;
	float: left;
	padding: 30px 0 0 50px;
}
h1{
    padding: 30px;
    color: #B2FF66;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}
.notify{
	float:left;
	padding-top:100px;
	padding-left:100px;
	}
